@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#root {
  height: 100%;
}

html{
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;

  .layout {
    height: 100%;
    position: relative;
    top: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}